
<div class="main-container" [ngClass]="section">
  <div (click)="showCart('open')" class="cart" >
    <img src="../assets/icons/cart.svg">
    <p class="n-items" [ngClass]="{'active' : carrito.length != '0'}">{{carrito.length}}</p>
  </div>
  <div (click)="logView('open')" class="user">
    <img src="../assets/icons/user.svg">
  </div>

  <div id="inicio" (click)="switchSection('categorias')">
    <div class="action-env">
      <img src="../../assets/logo.svg" alt="">
      <h1>Catálogo</h1>
      <p>Toca aquí</p>
    </div>
  </div>

  <div id="categorias" [ngClass]="{'active': section == 'categorias'} && {'blur': productoView || loginView}">
    <div class="card">
      <div class="head">        
        <h1 (click)="switchSection('categorias')">Departamentos</h1>
        <h2>/ Tecnologia</h2>
        <div class="tools">
          <div class="search">
            <input type="text" placeholder="Buscar">
                        
          </div>
          <div class="filtros">            
            <div class="select-env">
              <select name="" id="">
                <option value="">Artículo</option>
                <option value="">Otro</option>
              </select>
            </div>
            <div class="select-env">
              <select name="" id="">
                <option value="">Precio</option>
                <option value="">Otro</option>
              </select>
            </div>
            <div class="select-env">
              <select name="" id="">
                <option value="">Marca</option>
                <option value="">Otro</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!------------------------------------------------------------------------- CATEGORIAS  -->
      <div class="sections-wrapper">
        <div (click)="setCategory('tecnologia')" class="section">
          <img src="../../assets/icons/tecnologia.svg" alt="">
          <h2>Tecnologia</h2>
        </div>

        <div (click)="setCategory('alimentacion')" class="section">
          <img src="../../assets/icons/alimentacion.svg" alt="">
          <h2>Alimentación</h2>
        </div>

        <div (click)="setCategory('refrigerados')" class="section">
          <img src="../../assets/icons/refrigeracion.svg" alt="">
          <h2>Refrigerados</h2>
        </div>

        <div (click)="setCategory('abarrotes')" class="section">
          <img src="../../assets/icons/abarrotes.svg" alt="">
          <h2>Abarrotes</h2>
        </div>

        <div (click)="setCategory('perecederos')" class="section">
          <img src="../../assets/icons/perecederos.svg" alt="">
          <h2>Perecederos</h2>
        </div>

        <div (click)="setCategory('hogar')" class="section">
          <img src="../../assets/icons/hogar.svg" alt="">
          <h2>Hogar</h2>
        </div>
      </div>

      <!------------------------------------------------------------------------- TECNOLOGIA -->
      <div class="productos-wrapper" [ngClass]="{'active': categoria == 'tecnologia'}">

        <div (click)="setProduct(producto)" class="section producto" *ngFor="let producto of productos">
          <img src="{{producto.url}}" alt="">
          <h2 >{{producto.name}}</h2>
          <p >{{producto.price | currency}}</p>
        </div>


      </div>
    </div>
  </div>
  <!--------------------------------------------------- DETALLE DE PRODUCTO -->
  <div class="producto-detail" [ngClass]="{'active': productoView}">
    <h1 #name>{{productoDetail.name}}</h1>
    <h2 #price>{{productoDetail.price | currency}}</h2>
    <div class="main-img">      
      <img #img src="{{productoDetail.url}}" alt="producto" [ngClass]="{'active': mainImg == 'one'}">
      <img src="{{productoDetail.alterImg}}" alt="producto" [ngClass]="{'active': mainImg == 'two'}">
    </div>
    <div class="alter">
      <img (click)="selectView('one')" src="{{productoDetail.url}}" alt=""  [ngClass]="{'active': mainImg == 'one'}">
      <img (click)="selectView('two')" src="{{productoDetail.alterImg}}" alt=""  [ngClass]="{'active': mainImg == 'two'}">
    </div>
    <h3>Descripción</h3>
    <p>{{productoDetail.desc}}</p>
    <div class="btns">
      <button (click)="closeProduct()" >Atras</button>
      <button (click)="addCart(name,price,img)">Agregar</button>
    </div>
  </div>
  <!--------------------------------------------------- CARRITO -->
  <div class="carrito" [ngClass]="{'active' : showCarrito == 'open'}">
    <div class="head">
      <h1>Mi Carrito</h1>      
      <button (click)="showCart('close')">Cerrar</button>
    </div>
    <div class="carrito-list">
      <div class="producto" *ngFor="let producto of carrito; let i = index">
        <img src="{{producto.img}}" alt="">
        <h1>{{producto.name}}</h1>
        <p>{{producto.price | currency}}</p>
        <input #cantidad type="number" [value]="1" (change)="updatePrice((producto.price * cantidad.value))">
        <button (click)="deleteItem(i,producto.price)"><img src="../assets/icons/delete.svg"></button>
      </div>
    </div>
    <div class="btns">
      <h3>Total: {{total | currency}}</h3>
      <div class="action">        
        <button (click)="logView('open')">Entrega a Domicilio</button>
        <button>Entrega en Tienda</button>
      </div>
    </div>
  </div>

  <!------------------------------------- LOGIN -->
  <div class="login" [ngClass]="{'active' : loginView}">
    <div class="head">
      <h1>Login</h1>
      <button (click)="logView('close')">Cerrar</button>
    </div>

    <div class="registro">
      <h2>¿Ya estas registrado?</h2>
      <div class="login-form">
        <input type="text" placeholder="Correo">
        <input type="password" placeholder="Contraseña">
        <button class="btn" (click)="payView('open')">Entrar</button>
      </div>
    </div>

    <div class="nuevo-registro">
      <h2>¿Primera ves aquí?</h2>
      <button class="btn">Regístrate</button>
    </div>
  </div>

  <!------------------------------------- PAGO -->
  <div class="payment {{paymentStep}}" [ngClass] ="{'active' : payment}">
    <div class="progress">
      <div class="step">
        <div class="icon">
          <img src="../assets/icons/cart.svg">
        </div>
        <p>Registrar Pedido</p>
      </div>
      <div class="step">
        <div class="icon">
          <img src="../assets/icons/pin.svg">
        </div>
        <p>Direccion</p>
      </div>
      <div class="step">
        <div class="icon">
          <img src="../assets/icons/clock.svg">
        </div>
        <p>Horario</p>
      </div>
      <div class="step">
        <div class="icon">
          <img src="../assets/icons/card.svg">
        </div>
        <p>Pago</p>
      </div>
      <div class="step">
        <div class="icon">
          <img src="../assets/icons/search.svg">
        </div>
        <p>Detalle</p>
      </div>
    </div>

    <div class="card">
      <!------ REGISTRO -->
      <div class="registro">
        <div class="content-wrapper">          
          <div class="producto" *ngFor="let producto of carrito; let i = index">
            <img src="{{producto.img}}" alt="">
            <h1>{{producto.name}}</h1>
            <p>{{producto.price | currency}}</p>
            <input #cantidad type="number" [value]="1" (change)="updatePrice((producto.price * cantidad.value))">
            <button (click)="deleteItem(i,producto.price)"><img src="../assets/icons/delete.svg"></button>
          </div>
        </div>

        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('2')" class="btn">Continuar</button>
          </div>
        </div>
      </div>

      <!------ DIRECCION-->
      <div class="direccion">
        <div class="content-wrapper">          
          <div class="section">
            <h2>Seleccionar Dirección</h2>
            <div class="dir">
              <h3>1. Bosques de Alisos 45B, Colonia Bosques de las Lomas</h3>
              <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="section">
            <h2>Nueva Dirección</h2>
            <div class="two-col">
              <div class="input-container">
                <label>Nombre de Dirección*</label>
                <input type="text" placeholder="Ej: Casa, Oficina, Escuela">
              </div>
              <div class="input-container">
                <label>¿Quién Recibe?</label>
                <input type="text">
              </div>
              <div class="input-container full">
                <label>Autocompletado de Google</label>
                <input type="text">
              </div>
              <div class="input-container">
                <label>Calle*</label>
                <input type="text" placeholder="Ej: Casa, Oficina, Escuela">
              </div>
              <div class="three-col">
                <div class="input-container">
                  <label>Núm Int.</label>
                  <input type="text">
                </div>
                <div class="input-container">
                  <label>Núm Ext.</label>
                  <input type="text">
                </div>
                <div class="input-container">
                  <label>C.P.</label>
                  <input type="text">
                </div>
              </div>
              <div class="input-container">
                <label>Colonia*</label>
                <input type="text">
              </div>
              <div class="input-container">
                <label>Delegación o Municipio</label>
                <input type="text">
              </div>
              <div class="input-container">
                <label>Instrucciones de Entrega*</label>
                <input type="text">
              </div>
            </div>
            <div class="row">
              <p>Dirección Principal</p>
              <button>Guardar</button>
            </div>
          </div>
        </div>
        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('1')" class="btn">Atras</button>
            <button (click)="payView('3')" class="btn">Continuar</button>
          </div>
        </div>
      </div>

      <!------ HORARIO-->
      <div class="horario">
        <div class="content-wrapper">
          <div class="section">
            <h2>Seleccionar Horario</h2>
            <div class="horarios">
              <div></div>
              <h4>Jueves</h4>
              <h4>Viernes</h4>
              <div class="hour" *ngFor="let horario of horarios; let i = index">
                <h4>{{horario.horario}}</h4>
                <button>{{horario.jueves}}</button>
                <button>{{horario.viernes}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('2')" class="btn">Atras</button>
            <button (click)="payView('4')" class="btn">Continuar</button>
          </div>
        </div>
      </div>

      <!------ PAGO-->
      <div class="pago">
        <div class="content-wrapper">
          <div class="section">
            <h2>Seleccionar Forma de Pago</h2>
            <div class="options">
              <div (click)="selectPago('entrega')" class="option" [ngClass]="{'active' : formaPago == 'entrega'}">
                <div class="icon">
                  <img src="../assets/icons/store.svg">
                </div>
                <h3>Contra Entrega</h3>
                <p>(Efectivo, Tarjeta y Vales de Despensa)</p>
              </div>

              <div (click)="selectPago('linea')"  class="option" [ngClass]="{'active' : formaPago == 'linea'}">
                <div class="icon">
                  <img src="../assets/icons/card.svg">
                </div>
                <h3>En Línea</h3>
                <p>(Tarjeta de Crédito / Débito)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('3')" class="btn">Atras</button>
            <button (click)="payView('payData')" class="btn">Continuar</button>
          </div>
        </div>
      </div>

      <!------ PAGO/DATOS-->
      <div class="payDataW">
        <div class="content-wrapper">
          <div class="section">
            <h2>Seleccionar Tarjeta</h2>
            <div class="dir">
              <h3>Tarjeta: *1575</h3>
              <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div class="section">
            <h2>Nueva Tarjeta</h2>
            <div class="two-col">
              <div class="input-container full">
                <label>Nombre del Titular*</label>
                <input type="text">
              </div>
              <div class="input-container full">
                <label>Número de la Tarjeta*</label>
                <input type="text">
              </div>
              <div class="two-col sub full">
                <label>Fecha de Vencimiento*</label>
                <div class="input-container">
                  <label>Mes</label>
                  <input type="text">
                </div>
                <div class="input-container">
                  <label>Año</label>
                  <input type="text">
                </div>
              </div>
              <div class="two-col sub full">
                <label>Codigo de Seguridad</label>
                <div class="input-container">
                  <label>CCV</label>
                  <input type="text">
                </div>
              </div>
              <div class="green">
                <button>Cancelar</button>
                <button>Guardar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('4')" class="btn">Atras</button>
            <button (click)="payView('5')" class="btn">Continuar</button>
          </div>
        </div>
      </div>

      <!------ DETALLE--> 
      <div class="detalle">
        <div class="content-wrapper">
          <div class="section">
            <h2>Detalle</h2>
            <div class="detalle-wrapper">
              <div class="info">                
                <h3>Forma de Pago</h3>
                <p><span>Pago en Línea</span> (Tarjeta de Débito y Crédito)</p>
              </div>
              <div class="info">
                <h3>Productos</h3>
                <div class="producto" *ngFor="let producto of carrito; let i = index">
                  <img src="{{producto.img}}" alt="">
                  <h1>{{producto.name}}</h1>
                  <p>{{producto.price | currency}}</p>
                  <input #cantidad type="number" [value]="1" (change)="updatePrice((producto.price * cantidad.value))">
                  <button (click)="deleteItem(i,producto.price)"><img src="../assets/icons/delete.svg"></button>
                </div>
              </div>
              <div class="info">
                <h3>Dirección</h3>
                <p>Bosque de Alisos 45B, Bosque de las Lomas</p>
              </div>
              <div class="info">
                <h3>Recibe</h3>
                <p>Gerardo Sánchez López</p>
              </div>
              <div class="info">
                <h3>Fecha y Horario de Entrega</h3>
                <p>Sábado 4 de Marzo, 13:00-14:00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="foot">
          <h3>Total: {{total | currency}}</h3>
          <div class="btns">            
            <button (click)="payView('4')" class="btn">Atras</button>
            <button (click)="payView('end')" class="btn">Continuar</button>
          </div>
        </div>
      </div>


    </div>
    <!------ DETALLE--> 
    <div class="done">
      <div class="end-wrapper">
        <div class="deliver">
          <p>Finalizado</p>
          <img src="../assets/icons/delivery.svg">
          <p>Tu pedido está en camino</p>
        </div>
        <button (click)="finish()">Terminar</button>
      </div>
    </div>
    <div class="btns">
      <button (click)="payView('close')">Cancelar</button>
    </div>
  </div>
</div>

