
<div class="main-container" [ngClass]="section">
  <div (click)="showCart('open')" class="cart" ></div>
  <div class="user"></div>

  <div id="inicio" (click)="switchSection('categorias')">
    <div class="action-env">
      <img src="../../assets/logo.svg" alt="">
      <h1>Catálogo</h1>
      <p>Toca aquí</p>
    </div>
  </div>

  <div id="categorias" [ngClass]="{'active': section == 'categorias'} && {'blur': productoView}">
    <div class="card">
      <div class="head">        
        <h1 (click)="switchSection('categorias')">Departamentos</h1>
        <h2>/ Tecnologia</h2>
        <div class="tools">
          <div class="search">
            <input type="text">            
          </div>
          <div class="filtros">            
            <div class="select-env">
              <select name="" id="">
                <option value="">Artículo</option>
                <option value="">Otro</option>
              </select>
            </div>
            <div class="select-env">
              <select name="" id="">
                <option value="">Precio</option>
                <option value="">Otro</option>
              </select>
            </div>
            <div class="select-env">
              <select name="" id="">
                <option value="">Marca</option>
                <option value="">Otro</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <!------------------------------------------------------------------------- CATEGORIAS  -->
      <div class="sections-wrapper">
        <div (click)="setCategory('tecnologia')" class="section">
          <img src="../../assets/icons/tecnologia.svg" alt="">
          <h2>Tecnologia</h2>
        </div>

        <div (click)="setCategory('alimentacion')" class="section">
          <img src="../../assets/icons/alimentacion.svg" alt="">
          <h2>Alimentación</h2>
        </div>

        <div (click)="setCategory('refrigerados')" class="section">
          <img src="../../assets/icons/refrigeracion.svg" alt="">
          <h2>Refrigerados</h2>
        </div>

        <div (click)="setCategory('abarrotes')" class="section">
          <img src="../../assets/icons/abarrotes.svg" alt="">
          <h2>Abarrotes</h2>
        </div>

        <div (click)="setCategory('perecederos')" class="section">
          <img src="../../assets/icons/perecederos.svg" alt="">
          <h2>Perecederos</h2>
        </div>

        <div (click)="setCategory('hogar')" class="section">
          <img src="../../assets/icons/hogar.svg" alt="">
          <h2>Hogar</h2>
        </div>
      </div>

      <!------------------------------------------------------------------------- TECNOLOGIA -->
      <div class="productos-wrapper" [ngClass]="{'active': categoria == 'tecnologia'}">

        <div (click)="setProduct(producto)" class="section producto" *ngFor="let producto of productos">
          <img src="{{producto.url}}" alt="">
          <h2 >{{producto.name}}</h2>
          <p >{{producto.price | currency}}</p>
        </div>


      </div>
    </div>
  </div>
  <!--------------------------------------------------- DETALLE DE PRODUCTO -->
  <div class="producto-detail" [ngClass]="{'active': productoView}">
    <h1 #name>{{productoDetail.name}}</h1>
    <h2 #price>${{productoDetail.price}}</h2>
    <div class="main-img">      
      <img #img src="{{productoDetail.url}}" alt="producto" [ngClass]="{'active': mainImg == 'one'}">
      <img src="{{productoDetail.alterImg}}" alt="producto" [ngClass]="{'active': mainImg == 'two'}">
    </div>
    <div class="alter">
      <img (click)="selectView('one')" src="{{productoDetail.url}}" alt=""  [ngClass]="{'active': mainImg == 'one'}">
      <img (click)="selectView('two')" src="{{productoDetail.alterImg}}" alt=""  [ngClass]="{'active': mainImg == 'two'}">
    </div>
    <h3>Descripción</h3>
    <p>{{productoDetail.desc}}</p>
    <div class="btns">
      <button (click)="closeProduct()" >Atras</button>
      <button (click)="addCart(name,price,img)">Agregar</button>
    </div>
  </div>
  <!--------------------------------------------------- CARRITO -->
  <div class="carrito" [ngClass]="{'active' : showCarrito == 'open'}">
    <h1>Mi Carrito</h1>
    <div class="carrito-list">
      <div class="producto" *ngFor="let producto of carrito">
        <img src="{{producto.img}}" alt="">
        <h1>{{producto.name}}</h1>
        <p>{{producto.price}}</p>
      </div>
      <h3>Total: {{total | currency}}</h3>
    </div>
    <div class="btns">
      <button (click)="showCart('close')">Cerrar</button>
    </div>
  </div>
</div>

